.Theme-Box {
    width: 90%;
    max-width: 500px;
    min-width: 310px;
    height: max-content !important;
    min-height: 300px;
    margin: 8px;
    padding: 4px;
    border-radius: 12px;
    background: var(--box-bg);
    transition: background-color 0.4s ease, color 0.4s ease, transform .4s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
}

.Theme-Box-Small {
    width: 350px !important;
    min-width: max-content !important;
    height: max-content !important;
    min-height: max-content !important;
    padding: 6px;
}

.Theme-Box-NoLimit {
    width: max-content !important;
}

.Theme-Title {
    color: var(--primary-text);
    padding: 20px 15px 5px 0;
    margin: 0 0 10px 0;
    font-weight: 600;
    font-size: 22px;
    font-family: Vazir;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    line-height: 1.5;
    background-color: transparent;
}

.Theme-Text {
    color: var(--primary-text);
}

.Theme-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.Theme-Form-div {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 35px;
}

.Theme-Form-div-remember {
    display: flex;
    justify-content: start;
    width: 90%;
    padding-bottom: 15px;
}

input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 3px solid var(--secondry-color);
    border-radius: 8px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-checkbox:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 3px;
    top: 2px;
    left: 2px;
    transition: background-color 0.3s ease;
}

input[type="checkbox"]:checked+.custom-checkbox {
    background-color: var(--hover-light);

}

.Theme-Form-div-remember .Theme-Input-Title {
    width: max-content;
    padding: 0 0 0 10px;
}

.Theme-Input-Title {
    color: var(--primary-text);
    width: 90%;
    padding: 0 7px 4px 0;
}

.Theme-Input {
    background: var(--searchBox-bg);
    width: 90%;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-text);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 18px;
    padding: 4px 10px;
    outline: none;
    border: none;
    margin: auto;
    transition: all 0.3s ease, border ease .7s, box-shadow ease .3s;
}

.Theme-Input:focus {
    outline: none;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 8px var(--border-color);
}

.Theme-Input-Icon {
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 35px;
    color: var(--icon-color);
}

.ThemeBtn {
    text-decoration: none;
    width: max-content;
    min-width: 100px;
    padding: 5px 20px 10px 20px;
    text-align: center;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: 0.3s ease;
    margin: 4px 8px;
    cursor: pointer;
    border: none;
    max-height: 47px;
}

.Btn-2X {
    padding: 10px 60px 15px 60px;
    border-radius: 22px !important;
    font-weight: bold;
}

.Btn-Classic {
    outline: none;
    font-weight: 600;
    background: transparent;
    color: var(--button-color-text);
    background: var(--button-color);
    border: none;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.Btn-Classic:hover {
    background: var(--button-color-hover);
}

.Btn-Classic-2 {
    transition: background-color 0.3s, all 0.3s;
    font-weight: 600;
    color: var(--primary-text-re);
    background: var(--button-color-re);
    border: 2px solid var(--Third-color);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.09) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.Btn-Classic-2:hover {
    background: var(--button-color-re-hover);
}

.Theme-Select {
    appearance: none;
    background: var(--searchBox-bg);
    color: var(--primary-text);
    border-radius: 12px;
    padding: 10px;
    width: 90%;
    font-size: 16px;
    cursor: pointer;
}

.Theme-Radio-Group {
    display: flex;
    width: 90%;
    gap: 10px;
}

.Theme-Radio-Label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--primary-text);
    font-size: 16px;
    width: max-content !important;
}

.Theme-Radio-Input {
    display: none;
}

.custom-radio {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--secondry-color);
    display: inline-block;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.Theme-Radio-Input:checked+.custom-radio {
    background-color: var(--hover-light);
    border: 2px solid var(--secondry-color);
}

.Theme-List {
    width: 100% !important;
    height: max-content;
    background: var(--box-bg);
    border-radius: 12px;
    padding: 5px;
    color: var(--primary-text);
}

.Theme-List .table,
.Theme-List table tr,
.Theme-List table tr th,
.Theme-List table tbody,
.Theme-List table tbody tr,
.Theme-List table tbody tr td {
    background: transparent;
    color: var(--primary-text);
}

.Theme-List table tbody:first-child tr {
    border-radius: 2px !important;
    overflow: hidden;
}

.Theme-List table tbody tr td img {
    border-radius: 6px;
    border: 1.5px solid var(--box-bg);
    width: 80px;
}

.Theme-List .table tr {
    background: var(--searchBox-bg) !important;
    border-bottom: solid 2px var(--box-bg);
}

.ThemeBtn-R {
    border-radius: 8px;
    color: #FFF5E4;
    background: #00B4FF;
}

.ThemeBtn-R:hover {
    color: #fff;
    background: #00a1e6;
}

.ThemeBtn-E {
    border-radius: 8px;
    color: #FFF5E4;
    background: #FFB200;
}

.ThemeBtn-E:hover {
    color: #fff;
    background: #e19d00;
}

.ThemeBtn-D {
    border-radius: 8px;
    color: #FFF5E4;
    background: #B73329;
}

.ThemeBtn-D:hover {
    color: #fff;
    background: #9d2820;
}

.ThemeBtn-C {
    border-radius: 8px;
    color: #FFF5E4;
    background: #9C57C4;
}

.ThemeBtn-C:hover {
    color: #fff;
    background: #8d4bb4;
}

.ThemeBtn-S:hover,
.ThemeBtn-E:hover,
.ThemeBtn-D:hover,
.ThemeBtn-C:hover {
    transform: translateY(-2px);
}

.ThemeAdd {
    margin: 8px;
    min-width: 400px;
    width: max-content;
    height: max-content;
    background: var(--box-bg);
    border-radius: 12px;
    overflow: hidden;
}

.Theme-Warnings {
    padding: 4px;
    margin: 10px 5px;
    border-right: 4px solid var(--warning-color);
    color: var(--primary-text);
    border-radius: 3px;

}

.Theme-crud-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    background: var(--box-bg);
    outline: none;
    max-width: 450px;
    margin: auto;
}

.Theme-crud-form label {
    font-weight: bold;
    font-family: Vazir;
    color: var(--primary-text);
}

.Theme-crud-form input,
.Theme-crud-form textarea,
.Theme-crud-form select {
    background: var(--searchBox-bg);
    height: 45px;
    max-height: max-content;
    outline: none !important;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    color: var(--primary-text);
    padding: 10px 5px;
    transition: all ease .3s;
}

.Theme-crud-form textarea {
    height: 120px;
}

.Theme-crud-form input:focus {
    transform: scale(1.02);
}

.Theme-crud-form .Theme-Required {
    border: .5px solid var(--border-color);
    box-shadow: 0 0 6px var(--border-color);
}

.Theme-warning {
    background: #fff3cd;
    width: 100%;
    display: flex;
    align-items: center;
    color: #856404;
    padding: 10px 10px 4px 10px;
    border-radius: 12px;
    margin: 10px 0;
    border: 1px solid #ffeeba;
    text-align: center;
}

.Theme-warning h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: bold;
    font-family: Vazir;
}

.Theme-warning h3::before {
    content: "⚠️";
}

.Theme-Erorr-Input {
    width: 90%;
    color: var(--warning-color);
    margin: 2px 5px 0 0 !important;
    padding: 0 !important;
}

.Theme-QuickAc {
    width: 300px !important;
    height: 250px !important;
    margin: 8px;
    padding: 8px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Theme-QuickAc h4 {
    width: 100%;
    text-align: center;
    color: var(--icon-color);
}

.Theme-QuickAc h4 hr {
    width: 20%;
    margin: 10px auto;
    color: var(--icon-color);
}

.Theme-QuickAc hr {
    width: 100%;
    height: 3px;
}

.Theme-QuickAcBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Theme-QuickAcBox i {
    width: 45%;
    height: 45%;
    font-size: 50px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
    background-color: #f5f5f50e;
    border: 2px solid var(--icon-color);
    transition: all ease .3s;
}

.Theme-QuickAc i:hover {
    transform: translateY(-5px);
    background-color: var(--button-color-hover);
    color: var(--button-color-re);
    border: var(--icon-color-hover) 2px solid;
}

.ThemeBtnNeon {
    width: max-content;
    min-width: 160px;
    height: max-content;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid;
    border-color: var(--Third-color);
    color: var(--Btn-Neon-text);
    background: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 5px 0 7px 0;
}

.ThemeBtnNeon:hover {
    color: var(--Btn-Neon-text-hover);
    background: var(--Btn-Neon);
    transform: translateY(-4px);
}

.Btn-Neon-R {
    color: var(--Btn-Neon-R-Color);
    background-color: var(--Btn-Neon-R-Bg);
    border: 1px solid var(--Btn-Neon-R-Color);
}

.Btn-Neon-R:hover {
    color: var(--Btn-Neon-R-Color);
    background-color: var(--Btn-Neon-R-Bg-Hover);
    transform: translateY(-4px);
}

.Btn-Neon-E {
    color: var(--Btn-Neon-E-Color);
    background-color: var(--Btn-Neon-E-Bg);
    border: 1px solid var(--Btn-Neon-E-Color);
}

.Btn-Neon-E:hover {
    color: var(--Btn-Neon-E-Color);
    background-color: var(--Btn-Neon-E-Bg-Hover);
    transform: translateY(-4px);
}

.Btn-Neon-D {
    color: var(--Btn-Neon-D-Color);
    background-color: var(--Btn-Neon-D-Bg);
    border: 1px solid var(--Btn-Neon-D-Color);
}

.Btn-Neon-D:hover {
    color: var(--Btn-Neon-D-Color);
    background-color: var(--Btn-Neon-D-Bg-Hover);
    transform: translateY(-4px);
}



.Theme-Comment {
    width: 150px !important;
    height: 200px !important;
    padding: 20px 8px;
    margin: 8px;
    font-family: Vazir;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Theme-Comment i {
    padding-bottom: 10px;
    font-size: 50px;
}

.Theme-Comment hr {
    height: 3px;
    width: 60%;
    background-color: var(--Third-color);
}

.Theme-CommentBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.Theme-AdminProfile {
    width: 200px !important;
    height: max-content;
    min-height: 250px;
    margin: 8px;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.Theme-AdminProfile img {
    width: 100px;
    height: 100px;
    opacity: .9;
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid var(--icon-color);
}

.Theme-AdminProfile p {
    font-size: 24px;
    font-family: Vazir;
    padding: 4px 5px 0 5px;
    display: flex;
    align-items: center;
    opacity: .9;
    color: var(--icon-color);
    cursor: default;
}


.Theme-MoreAc {
    width: 300px !important;
    height: 250px !important;
    padding: 8px 8px 0 8px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.Theme-MoreAcBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.Theme-MoreAc hr {
    height: 4px;
    opacity: 1;
    border-radius: 8px;
}

.Theme-MoreAc a {
    min-width: 100% !important;
    border-radius: 8px;
    padding: 12px 24px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
}